doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title Hello world
        link(href="css/main.css" rel="stylesheet")
    body
        .one
            p Привет Привет
            .slider
                .slider-item One
                .slider-item Two
                    img(src="img/img1.jpg" alt="img1")
                .slider-item Tree
        .two
        .three
    script(src="js/libs.min.js")
    script(src="js/main.min.js")
